@import url('https://fonts.googleapis.com/css2?family=Comme:wght@300&display=swap');

*{
    font-family: 'Comme', sans-serif;
}

body{
    margin-right:1px important;
}
#banner{
    background-image: url(../images/img.jpg);
    width:98vw;
    height:65vh;
    
}

#products{
  width:98vw !important;
  margin:auto !important;
  
}

#banner img{
    height:100%;
    width:100%;
}

.product_card{
    margin:4px !important;
}
/* Add to Button Sticky  */
.card-body{
position: relative !important;
}

.btn-primary{
    position: absolute !important;
    /* margin-top: 2px !important; */
    bottom:3px !important;
    right: 2px !important;
}
