@import url('https://fonts.googleapis.com/css2?family=Comme:wght@300&display=swap');

*{
    font-family: 'Comme', sans-serif;
}



.nav-link{
    font-size: 25px !important;
}

.nav-link:hover{
    scale:1.12;
    color: rgb(7, 3, 37) !important;
}

.navbar-brand{
    font-family: cursive;
    color: blue;
    font-weight: 900;
}

.extra,h1{
    color: green;
    font-family: cursive;
    font-weight: 900;
}

#banner img{
    height:100%;
    width:100%;
}

.product_card{
    margin:4px !important;
}
/* Add to Button Sticky  */
.card-body{
position: relative !important;
}



#count{
    font-family: 'Courier New', Courier, monospace;
    color: blue !important;
    font-weight: bolder !important;
    font-size: 15px !important;
}

body{
    margin-right:1px important;
}
#banner{
    background-image: url(../images/img.jpg);
    width:98vw;
    height:65vh;
    
}

.btn-primary{
    position: absolute !important;
    /* margin-top: 2px !important; */
    bottom:3px !important;
    right: 2px !important;
}

.btn-primary:hover{
    scale: 1.1;
    color: blue;
    background-color: white;
}

#products{
  width:98vw !important;
  margin:auto !important;
  
}